USE [Bahar]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetBookLabelsText]    Script Date: 17.08.2022 16:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE function [dbo].[fn_GetBookLabelsText]
(@BookId int)
returns varchar(max)
as begin
	declare @result varchar(max)=''
	select 
		@result +=	'['+Name+'], '
		from fn_GetBookLabels(@BookId)
	order by Name

	set @result=LEFT(@result, LEN(@result)-1)
	return @result
end 
GO
/****** Object:  Table [dbo].[Book]    Script Date: 17.08.2022 16:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[LangId] [int] NULL,
	[Price] [decimal](8, 2) NULL,
	[PublishDate] [date] NULL,
	[LabelId] [int] NULL,
	[LevelId] [int] NULL,
 CONSTRAINT [PK__Book__3214EC07122C397A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookDiscount]    Script Date: 17.08.2022 16:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookDiscount](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[DiscountRate] [int] NOT NULL,
 CONSTRAINT [PK_BookDiscount] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookLabel]    Script Date: 17.08.2022 16:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookLabel](
	[BookId] [int] NOT NULL,
	[LabelId] [int] NOT NULL,
 CONSTRAINT [PK_BookLabel] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC,
	[LabelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookNameWord]    Script Date: 17.08.2022 16:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookNameWord](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[LangId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Label]    Script Date: 17.08.2022 16:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Label](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[TypeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabelRelated]    Script Date: 17.08.2022 16:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabelRelated](
	[LabelId] [int] NOT NULL,
	[RelatedId] [int] NOT NULL,
 CONSTRAINT [PK_LabelRelated] PRIMARY KEY CLUSTERED 
(
	[LabelId] ASC,
	[RelatedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lang]    Script Date: 17.08.2022 16:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BookPrice]    Script Date: 17.08.2022 16:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [dbo].[vw_BookPrice]
as
	select 
		b.Id as BookID, 
		b.Price, 
		isnull(bd.DiscountRate,0) DiscountRate,  
		isnull(cast(bd.DiscountRate*b.Price/100 as decimal(8,2)),0) DiscountAmount,
		b.Price - isnull(cast(bd.DiscountRate * b.Price/100 as decimal(8,2)),0) NetPrice

	from 
		Book b
		left join 
		BookDiscount bd  on		b.Id =bd .BookId
GO
/****** Object:  View [dbo].[vw_book]    Script Date: 17.08.2022 16:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[vw_book]
as
select 
	b.Id BookId,
	b.Name,
	ln.Name Lang,
	ln.Id LangId,
	l.TypeID CategoryId,
	(case l.TypeID
		when 1 then 'Coding'
		when 2 then 'Platform'
		when 3 then 'Database'
		when 4 then 'Data Access'
		else 'Common'
	end) as Category,
	
	PublishDate,

	CAST(
		iif (PublishDate>DATEADD(MONTH,-2,GETDATE()) ,1,0)
		as bit) IsNew,
		
		p.Price,
		p.DiscountRate,
		p.DiscountAmount,
		p.NetPrice,

	case
		when p.DiscountRate>15 then '[SÜPER FİYAT]'
		when p.DiscountRate>10 then '[İYİ FİYAT]'
	end  as DiscountText,

	case 
		when b.LevelId<100 then 'Elementry'
		when b.LevelId>110 then 'Advanced'
		else 'Intermediate'
	end as BookLevel,

	dbo.fn_GetBookLabelsText(b.Id) BookLabels


from book b
inner join Lang ln on b.LangId=ln.Id
inner join vw_BookPrice p on p.BookID=b.Id
inner join Label l on l.Id=b.LabelId

GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetBookLabels]    Script Date: 17.08.2022 16:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetBookLabels]
(	
	@BookId int
)
RETURNS TABLE 
AS
RETURN 
(
	select
		l.Name	 
	from label l
	inner join BookLabel bl on l.Id = bl.LabelId
	where 
		bl.BookId =  @BookId 
)
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([Id], [Name], [LangId], [Price], [PublishDate], [LabelId], [LevelId]) VALUES (1, N'Gelecek Toplink  ', 1, CAST(141.59 AS Decimal(8, 2)), CAST(N'2022-08-16' AS Date), 52, 200)
INSERT [dbo].[Book] ([Id], [Name], [LangId], [Price], [PublishDate], [LabelId], [LevelId]) VALUES (2, N'En güçlü Pascal Programlama Dili', 1, CAST(173.24 AS Decimal(8, 2)), CAST(N'2022-08-15' AS Date), 17, 200)
INSERT [dbo].[Book] ([Id], [Name], [LangId], [Price], [PublishDate], [LabelId], [LevelId]) VALUES (3, N'Herkes için Asp.Net MVC  ', 1, CAST(181.39 AS Decimal(8, 2)), CAST(N'2022-08-14' AS Date), 58, 10)
GO
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[BookDiscount] ON 

INSERT [dbo].[BookDiscount] ([BookId], [DiscountRate]) VALUES (1, 14)
INSERT [dbo].[BookDiscount] ([BookId], [DiscountRate]) VALUES (2, 16)
INSERT [dbo].[BookDiscount] ([BookId], [DiscountRate]) VALUES (3, 6)
GO
SET IDENTITY_INSERT [dbo].[BookDiscount] OFF
GO
INSERT [dbo].[BookLabel] ([BookId], [LabelId]) VALUES (1, 52)
INSERT [dbo].[BookLabel] ([BookId], [LabelId]) VALUES (1, 64)
INSERT [dbo].[BookLabel] ([BookId], [LabelId]) VALUES (1, 65)
GO
SET IDENTITY_INSERT [dbo].[BookNameWord] ON 

INSERT [dbo].[BookNameWord] ([Id], [Name], [LangId]) VALUES (1, N'Ileri', 1)
INSERT [dbo].[BookNameWord] ([Id], [Name], [LangId]) VALUES (2, N'Temel', 1)
INSERT [dbo].[BookNameWord] ([Id], [Name], [LangId]) VALUES (3, N'Örneklerle', 1)
SET IDENTITY_INSERT [dbo].[BookNameWord] OFF
GO
SET IDENTITY_INSERT [dbo].[Label] ON 

INSERT [dbo].[Label] ([Id], [Name], [TypeID]) VALUES (1, N'CSharp', 1)
INSERT [dbo].[Label] ([Id], [Name], [TypeID]) VALUES (2, N'Java', 1)
INSERT [dbo].[Label] ([Id], [Name], [TypeID]) VALUES (3, N'Phyton', 1)
SET IDENTITY_INSERT [dbo].[Label] OFF
GO
INSERT [dbo].[LabelRelated] ([LabelId], [RelatedId]) VALUES (1, 0)
INSERT [dbo].[LabelRelated] ([LabelId], [RelatedId]) VALUES (1, 48)
INSERT [dbo].[LabelRelated] ([LabelId], [RelatedId]) VALUES (1, 49)
GO
SET IDENTITY_INSERT [dbo].[Lang] ON 

INSERT [dbo].[Lang] ([Id], [Name]) VALUES (3, N'DE')
INSERT [dbo].[Lang] ([Id], [Name]) VALUES (2, N'EN')
INSERT [dbo].[Lang] ([Id], [Name]) VALUES (1, N'TR')
SET IDENTITY_INSERT [dbo].[Lang] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ndx_BookNameWord_Name]    Script Date: 17.08.2022 16:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ndx_BookNameWord_Name] ON [dbo].[BookNameWord]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ndx_Label_Name]    Script Date: 17.08.2022 16:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ndx_Label_Name] ON [dbo].[Label]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ndx_Lang_Name]    Script Date: 17.08.2022 16:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ndx_Lang_Name] ON [dbo].[Lang]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF_Book_LevelId]  DEFAULT ((100)) FOR [LevelId]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Label] FOREIGN KEY([LabelId])
REFERENCES [dbo].[Label] ([Id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Label]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Lang] FOREIGN KEY([LangId])
REFERENCES [dbo].[Lang] ([Id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Lang]
GO
ALTER TABLE [dbo].[BookDiscount]  WITH CHECK ADD  CONSTRAINT [FK_BookDiscount_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
ALTER TABLE [dbo].[BookDiscount] CHECK CONSTRAINT [FK_BookDiscount_Book]
GO
ALTER TABLE [dbo].[BookLabel]  WITH CHECK ADD  CONSTRAINT [FK_BookLabel_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
ALTER TABLE [dbo].[BookLabel] CHECK CONSTRAINT [FK_BookLabel_Book]
GO
ALTER TABLE [dbo].[BookLabel]  WITH CHECK ADD  CONSTRAINT [FK_BookLabel_Label] FOREIGN KEY([LabelId])
REFERENCES [dbo].[Label] ([Id])
GO
ALTER TABLE [dbo].[BookLabel] CHECK CONSTRAINT [FK_BookLabel_Label]
GO
/****** Object:  StoredProcedure [dbo].[sp_BookSearch]    Script Date: 17.08.2022 16:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_BookSearch]
	@LangId		int =null,
	@IsNew		bit =null,
	@Name		varchar(max)=null,
	@MinPrice	decimal(8,2) =null,
	@MaxPrice	decimal(8,2) =null,
	@CategoryId int =null,
	@labelId	int=null
as begin
	select * from vw_Book b
		where  1=1
		
			and (@CategoryId is null or b.CategoryId = @CategoryId) 
			and (@LangId     is null or b.LangId=@LangId ) 
			and (@IsNew		 is null or b.IsNew=@IsNew )    

			and (@Name       is null or b.name like '%'+@name+'%') 

			and (@MinPrice   is null or b.NetPrice>@MinPrice) 
			and (@MaxPrice   is null or b.NetPrice<@MaxPrice) 
			and (@labelId    is null or 
					b.BookId in (
						select BookId from BookLabel where LabelId=@labelId
					)
				)

end
GO
